In [ ]:
# 표준화(Standardization)

import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)
display(data.head())

std_scale = StandardScaler()

data_std = std_scale.fit_transform(data)

data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

In [ ]:
import pandas as pd 
from sklearn.datasets import load_iris 

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.mean()) / data.std(ddof=0)

data_std_2.head()

In [4]:
import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

std_scale = StandardScaler()

data_std = std_scale.fit_transform(data)
data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [6]:
import pandas as pd 
from sklearn.datasets import load_iris 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.mean()) / data.std(ddof=0)

data_std_2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [9]:
# 정규화(Normalization) 

from sklearn.preprocessing import MinMaxScaler 
from sklearn.datasets import load_iris 

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)

mm_scale = MinMaxScaler()

data_std = mm_scale.fit_transform(data)
data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [10]:
from sklearn.datasets import load_iris 

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.min()) / (data.max() - data.min())

data_std_2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [14]:
import pandas as pd 
exam4 = pd.read_csv("../data/연습문제/Cars93.csv") 

from sklearn.preprocessing import MinMaxScaler

weight = exam4[["Weight"]]

mm_scale = MinMaxScaler() 
data = mm_scale.fit_transform(weight)
weight_std = pd.DataFrame(data, columns=["Weight"])
var_under = weight_std[weight_std < 0.5].var()
var_over = weight_std[weight_std > 0.5].var()

diff = abs(var_under - var_over)

result = round(diff, 3)
print(result)

Weight    0.001
dtype: float64

In [32]:
import pandas as pd 
exam5 = pd.read_csv("../data/연습문제/Cars93.csv") 

# 1
uniq_raw = exam5[["Manufacturer", "Origin"]].drop_duplicates()
exam5.shape
# result1 = uniq_raw.shape[0]

# # 2 
# exam5["sub_str"] = exam5["Manufacturer"].str[:2]
# print(exam5["sub_str"])
# uniq_new = exam5[["sub_str", "Origin"]].drop_duplicates()
# result2 = uniq_new.shape[0]

# #
# result = result1 - result2
# print(result)

(93, 28)

In [41]:
import pandas as pd 
exam6 = pd.read_csv("../data/연습문제/Cars93.csv") 

count_gp = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].count()
sum_gp = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].sum()
median_gp = exam6.groupby(["Type", "Man_trans_avail"])["RPM"].median()

cal = median_gp - sum_gp / count_gp
cal

Type     Man_trans_avail
Compact  No                   0.000000
         Yes                107.142857
Large    No                 127.272727
Midsize  No                  53.846154
         Yes                -62.500000
Small    Yes                 -5.000000
Sporty   Yes                107.692308
Van      No                  80.000000
         Yes                 33.333333
Name: RPM, dtype: float64

In [53]:
import pandas as pd 
exam7 = pd.read_csv("../data/연습문제/Cars93.csv") 

# 결측치 출력
# print(exam7["RPM"].isnull().sum())

# RPM 평균
avg = exam7["RPM"].mean()
# print(avg)


exam7["RPM"] = exam7["RPM"].fillna(avg)
# 결측치 출력
# print(exam7["RPM"].isnull().sum())


# RPM 표준화
RPM_std = (exam7["RPM"] - exam7["RPM"].mean() )/ exam7["RPM"].std()
Wheelbase_std = (exam7["Wheelbase"] - exam7["Wheelbase"].mean() )/ exam7["Wheelbase"].std()

diff = Wheelbase_std * (-36) - RPM_std

diff_sd = diff.std()

result = round(diff_sd, 3)

print(result)

35.561

In [69]:
import pandas as pd 
exam8 = pd.read_csv("../data/연습문제/Cars93.csv") 

case1 = exam8.copy()
case2 = exam8.copy()

#1. 
avg = case1["Price"].mean()
case1["Price"] = case1["Price"].fillna(avg)

avg_max_min = case1[["Max_Price", "Min_Price"]].mean(axis=1)
sub_case1 = case1[case1["Price"] < avg_max_min]
sum_case1 = sub_case1.groupby("Origin")["Price"].sum()

# 2. 
med = case2["Price"].median()
case2["Price"] = case2["Price"].fillna(med)

q3 = exam8["Min_Price"].quantile(.75)

sub_case2 = case2[case2["Price"] < q3]
sum_case2 = sub_case2.groupby("Origin")["Price"].sum()

max_value = max(sum_case1 + sum_case2)
max_value

max_value

856.8380952380953