In [ ]:
# 표준화(Standardization)

import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)
display(data.head())

std_scale = StandardScaler()

data_std = std_scale.fit_transform(data)

data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

In [ ]:
import pandas as pd 
from sklearn.datasets import load_iris 

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.mean()) / data.std(ddof=0)

data_std_2.head()

In [4]:
import pandas as pd 
from sklearn.datasets import load_iris 
from sklearn.preprocessing import StandardScaler 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

std_scale = StandardScaler()

data_std = std_scale.fit_transform(data)
data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [6]:
import pandas as pd 
from sklearn.datasets import load_iris 

iris = load_iris() 
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.mean()) / data.std(ddof=0)

data_std_2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [9]:
# 정규화(Normalization) 

from sklearn.preprocessing import MinMaxScaler 
from sklearn.datasets import load_iris 

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)

mm_scale = MinMaxScaler()

data_std = mm_scale.fit_transform(data)
data_std = pd.DataFrame(data_std, columns=iris.feature_names)
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [10]:
from sklearn.datasets import load_iris 

iris = load_iris()
data = pd.DataFrame(iris.data, columns=iris.feature_names)

data_std_2 = (data - data.min()) / (data.max() - data.min())

data_std_2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667